{% extends 'layout.html' %}

{% block content%}
<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/static/img/4.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Drive for WeGo: Earn Money on Your Terms!</h1>
      <p class="lead">Unlock Your Earning Potential and Take Control of Your Income by Becoming a Driver with WeGo. Whether You're Looking for Flexibility, or Want to Make Extra Money, WeGo Offers You the Opportunity. Join Our Community of Empowered Drivers Today and Discover the Freedom of Earning with WeGo!</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/driver/register">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Register Now!</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}