{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.2/dist/css/bootstrap.css' %}">
  </head>
  <body>
    <h1 class="visually-hidden">Heroes examples</h1>

    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="/static/img/1.jpeg" alt="" width="120" height="120">
      <h1 class="display-5 fw-bold text-body-emphasis">Welcome to WeGo</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">  Discover the smarter way to travel – join our ride-sharing network today and explore a world of convenient, affordable, and eco-friendly journeys!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="http://localhost:8000/users/login">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> Login in</button>
        </a>
        <a href="http://localhost:8000/users/create">
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">sign up</button>
        </a>
        </div>
      </div>
    </div>
  


    <script src="{% static '/plugins/bootstrap-5.3.2/dist/js/bootstrap.min.js'%}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
