{% extends 'layout.html' %}

{% block content%}
    
    <div class="container">
        <hr class="featurette-divider" style = "margin-top: 40px;">
        
        <div class="card">
          <div class="card-header text-center">
            <a href="/users/home">
              <button type="botton" style = "margin-top: 10px;"class="btn btn-secondary">Back to home</button>
            </a>
              <h5 style = "margin-left: 10px; margin-top: 15px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                  <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
                  <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
                </svg>
                  How about taking a ride now
              </h5>
          </div>
          
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" novalidate>
            {% csrf_token %}
            <!-- {% for field in form %}
                {{field.label}}: {{field}}
            {% endfor %} -->
            <div class="mb-3 mt-3">
              <label for="location" class="form-label">Your Location:</label>
              <input type="text" class="form-control" id="location" placeholder="Enter location" name="location">
              <span style ="color: red;">{{form.location.errors.0}}</span>
            </div>
            <div class="mb-3">
              <label for="dest" class="form-label">Your destination:</label>
              <input type="text" class="form-control" id="dest" placeholder="Enter destination" name="destination">
              <span style ="color: red;">{{form.destination.errors.0}}</span>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Ride Date:</label>
                <input type="date" class="form-control" id="date" placeholder="Enter date" name="date">
                <span style ="color: red;">{{form.date.errors.0}}</span>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Departure Time:</label>
                <input type="time" class="form-control" id="time" placeholder="Enter time" name="time">
                <span style ="color: red;">{{form.time.errors.0}}</span>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Earliest Acceptable Arrival Time:</label>
                <input type="time" class="form-control" id="time" placeholder="Enter earliest acceptable arrival time" name="time_earlist">
                <span style ="color: red;">{{form.time_earlist.errors.0}}</span>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Latest Acceptable Arrival Time:</label>
                <input type="time" class="form-control" id="time" placeholder="Enter latest acceptable arrival time" name="time_latest">
                <span style ="color: red;">{{form.time_latest.errors.0}}</span>
            </div>
            <div class="mb-3">
                <label for="owner_num" class="form-label">How many passengers:</label>
                <input type="int" class="form-control" id="owner_num" placeholder="Enter number of passengers" name="owner_num">
                <span style ="color: red;">{{form.owner_num.errors.0}}</span>
            </div>

            <div class="mb-3">
                <label for="type" class="form-label">Desired Vehicle Type:</label>
                <select class="form-select"  name = "type" value={{ob.vehicle_type}} aria-label="Default select example">
                  <option selected>Choose your vehicle type</option>
                  <option value="Car">Car</option>
                  <option value="Van">Van</option>
                  <option value="Bus">Bus</option>
                  <option value="Truck">Truck</option>
                </select>
                <div id="emailHelp" style ="color: red;"class="form-text">{{error_meg}}</div>
            </div>
            <div class="mb-3">
                <label for="share" class="form-label">Would you like to share this ride:</label>
                <select class="form-select"  name = "share" aria-label="Default select example">
                  <option selected>Choose Your answer</option>
                  <option value="True">Yes</option>
                  <option value="False">No</option>
                </select>
                <div id="emailHelp" style ="color: red;"class="form-text">{{error_meg1}}</div>
            </div>
            <div class="mb-3">
                <label for="info" class="form-label">Special Order Info(optional):</label>
                <input type="text" class="form-control" id="info" placeholder="Enter your special infomation" name="info">
            </div>
            <button type="submit" class="btn btn-primary">Request</button>
          </form>
          <!-- <a href="/users/home">
          <button type="botton" style = "margin-top: 10px;"class="btn btn-secondary position-absolute top-180 start-50">Back to home</button></a> -->
      </div>
      
{% endblock %}