{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.3.2/dist/css/bootstrap.css' %}">
  </head>
  <body>
    

    <div class="b-example-divider"></div>

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">You go, I go</h1>
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Here we Go!</h1>
          <p class="col-lg-10 fs-4">Join our community today and experience the joy of easy, eco-friendly, and affordable ridesharing – where every journey brings new connections and greener pathways!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post" novalidate>
            {% csrf_token %}
            <div class="form-floating mb-3">
              {{ form.username }}
              <span style ="color: red;">{{ form.username.errors.0}}</span>
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              {{ form.password }}
              <span  style ="color: red;">{{ form.password.errors.0}}</span>
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              {{ form.email }}
              <span  style ="color: red;">{{ form.email.errors.0}}</span>
              <label for="floatingPassword">Email</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" value="submit" >Sign up</button>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            <a href="http://localhost:8000/users/login">
                <button class="w-100 btn btn-lg btn-primary" type ="button" >Have account? Login in here</button>
            </a>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static '/plugins/bootstrap-5.3.2/dist/js/bootstrap.min.js'%}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
