{% extends 'layout.html' %}

{% block content%}
<div class="container">
    <!-- <h1>share order info</h1> -->
    <hr class="featurette-divider" style = "margin-top: 40px;">
    <div class="card">
      <div class="card-header text-center">
          <h5 style = "margin-left: 10px; margin-top: 15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8m0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
              </svg>
                <span style = "margin-left: 10px;">Order Detail (Sharer' version)</span> 
          </h5>
    </div>
    <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="post">
        {% csrf_token %}
        <div class="px-md-5 mb-3">
          <label for="location" class="form-label">Ride Owner's Location:</label>
          <input type="text" class="form-control" id="location" name="location" aria-label="Disabled input example" disabled readonly value= "{{obj.location}}">
        </div>
        <div class="px-md-5 mb-3">
          <label for="dest" class="form-label">Ride Owner's destination:</label>
          <input type="text" class="form-control" id="dest" aria-label="Disabled input example" disabled readonly name="destination" value="{{obj.destination}}">
        </div>
        <div class="px-md-5 mb-3">
            <label for="date" class="form-label">Ride Date:</label>
            <input type="date" class="form-control" id="date" aria-label="Disabled input example" disabled readonly name="date" value={{obj.date}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="time" class="form-label">Arrival Time:</label>
            <input type="time" class="form-control" id="time" aria-label="Disabled input example" disabled readonly name="time" value={{obj.time}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="owner_num" class="form-label">Total Passengers Number:</label>
            <input type="int" class="form-control" id="owner_num" aria-label="Disabled input example" disabled readonly name="owner_num" value={{obj.owner_num}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="time" class="form-label">Earliest Acceptable Arrival Time:</label>
            <input type="time" class="form-control" id="time" aria-label="Disabled input example" disabled readonly name="time_earlist" value={{obj.time_earlist}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="time" class="form-label">Latest Arrival Departure Time:</label>
            <input type="time" class="form-control" id="time" aria-label="Disabled input example" disabled readonly name="time_latest" value={{obj.time_latest}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="type" class="form-label">Ride Owner's Desired Vehicle Type:</label>
            <input type="text" class="form-control" id="vehicle_type" aria-label="Disabled input example" disabled readonly name="owner_num" value={{obj.vehicle_type}}>
        </div>
        <div class="px-md-5 mb-3">
            <label for="info" class="form-label">Special Order Info(optional):</label>
            <input type="text" class="form-control" id="info" aria-label="Disabled input example" disabled readonly name="info" value="{{obj.info}}">
        </div>
        {% if obj.is_share == True%}
        <div class="px-md-5 mb-3">
            <label for="share_num" class="form-label">How many people with you?</label>
            <input type="int" class="form-control" id="share_num" aria-label="Disabled input example" disabled readonly name="share_num" value={{passengers}}>
        </div>
        {% endif %}

        <div class="px-md-5 mb-3 d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/users/list">
                <button class="btn btn-primary" type="submit" name = "join">Join ride</button>
            </a>
            <a href="/users/home">
            <button class="btn btn-secondary" type="button">Back to home</button>
            </a>
        </div>
      </form>

</div>

{% endblock %}